html,body,main{
    height: 100%;
}
.slider__nav {
    width: 13px;
    height: 13px;
    margin: 2rem 16px;
    border-radius: 50%;
    z-index: 10;
    outline: 9px solid #ccc;
    outline-offset: -7px;
    cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  }


  .slider {
    height:80%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
        
  }

  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    animation: none;
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
      animation: none;
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    animation: none;
    left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    animation: none;
    left: -300%;
  }
  .slider__nav:checked:nth-of-type(5) ~ .slider__inner{
    animation: none;
      left: -400%;
  }
img{

    width: 100%;
    object-fit: cover;
}

  .slider__contents{

      overflow: hidden;
       background: rgb(255, 244, 244);
      border: 2px solid rgb(202, 187, 187);
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__inner {
    animation: auto 3s ease-in 3s;
    animation-fill-mode: forwards;
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 80%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
        }


        .slider__nav:checked {
            -webkit-animation: check 0.4s linear forwards;
                    animation: check 0.4s linear forwards;
          }
      
      @-webkit-keyframes check {
          50% {
            outline-color: #333;
            box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
          }
          100% {
            outline-color: #333;
            box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
          }
        }

        @keyframes auto {
            0% {
                left: 0%;
            }
            100%{
                left: -100%;
            }
        }

        @keyframes auto1 {
            0% {
                left: -100%;
            }
            100%{
                left: -200%;
            }
        }
        @keyframes auto2 {
            0% {
                left: 0%;
            }
            100%{
                left: -100%;
            }
        }
        @keyframes auto3 {
            0% {
                left: 0%;
            }
            100%{
                left: -100%;
            }
        }
        label{
            width: 10px;
            height: 10px;
            position: absolute;
            right: 5%;
            top: 15%;
        }
        .right:before{
            content: "â—"
        }
        input:checked ~ .next > label{
            opacity: 0;
            z-index: 1;
        }
        input{
            &:nth-child(1):checked ~ .next > label:nth-child(2){
                opacity: 1;
                z-index: 2;
            }
            &:nth-child(2):checked ~ .next > label:nth-child(3){
                opacity: 1;
                z-index: 2;
            }

        }
